@import './colors.scss';

.header {
    padding: 0 20px;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #home {
        color: $no_bgc;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
    }

    &__profile {
        display: flex;
        margin: 5px 0;

        &-photo {
            width: 60px;
            height: 60px;
            margin-right: 20px;
            border-radius: 50%;
            border: 2px solid rgb(187, 186, 186);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

        }
    }
}

.dropdow {
    display: flex;
    align-items: center;
}
